/* .poster {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
  }
  
  .posterImage {
    height: 100%;
  }
  
  .posterImage > img {
    margin: auto;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .posterImage__overlay {
    position: absolute;
    padding: 2rem;
    bottom: 0px;
    height: 40%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .posterImage__overlay:hover {
    opacity: 1;
  }
  
  .posterImage__title {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0.4rem;
    text-align: left;
  }
  
  .posterImage__runtime {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .posterImage__rating {
    margin-left: 2rem;
  }
  
  .posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
  }
  @media only screen and (min-width: 200px) and (max-width: 500px) {
    .posterImage__description {
        overflow: hidden;
        text-overflow: ellipsis;
      }

  }
 
  @media only screen and (max-width: 600px) {
    .posterImage__title {
      font-size: 1rem;
    }
  
    .posterImage__runtime {
      font-size: .8rem;
    }
  
    .posterImage__description {
      font-size: 0.6rem;
    }
  }
  @media only screen and (min-width: 600px) {
    .posterImage__title {
      font-size: 4rem;
    }
  
    .posterImage__runtime {
      font-size: 2rem;
    }
  
    .posterImage__description {
      font-size: 1.2rem;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .posterImage__title {
      font-size: 5rem;
    }
  
    .posterImage__runtime {
      font-size: 2.4rem;
    }
  
    .posterImage__description {
      font-size: 1.4rem;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .posterImage__title {
      font-size: 6rem;
    }
  
    .posterImage__runtime {
      font-size: 3rem;
    }
  
    .posterImage__description {
      font-size: 1.6rem;
    }
  } */
  
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* .posterImage{
    height: 600px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
} */


/* 
~~~~~~~~~~~~~~~~~~~~~~ */

/* .posterImage{
  max-width: 100%;
  height: auto;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posterImage__overlay {
  position: absolute;
  padding: 2rem;
  bottom: 0px;
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
  opacity: 1;
  transition: opacity .3s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 1rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 100%;
}

@media screen and (min-width: 768px) {
.posterImage {
  max-width: 100%;
  height: auto;
}

.posterImage__overlay {
  height: 40%;
  padding: 3rem;
}

.posterImage__title {
  font-size: 4rem;
}

.posterImage__runtime {
  font-size: 2rem;
}

.posterImage__description {
  font-size: 1.25rem;
  width: 75%;
}
}

@media screen and (min-width: 1024px) {
.posterImage {
  max-width: 100%;
  height: auto;
}

.posterImage__overlay {
  height: 30%;
  padding: 4rem;
}

.posterImage__title {
  font-size: 5rem;
}

.posterImage__runtime {
  font-size: 2.5rem;
}

.posterImage__description {
  font-size: 1.5rem;
  width: 50%;
}
} */


.posterImage{
  max-width: 100%;
  height: auto;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posterImage__overlay {
  position: absolute;
  padding: 2rem;
  bottom: 0px;
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
  opacity: 1;
  transition: opacity .3s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 1rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 100%;
}

@media screen and (min-width: 768px) {
.posterImage {
  max-width: 100%;
  height: auto;
}

.posterImage__overlay {
  height: 40%;
  padding: 3rem;
}

.posterImage__title {
  font-size: 4rem;
}

.posterImage__runtime {
  font-size: 2rem;
}

.posterImage__description {
  font-size: 1.25rem;
  width: 75%;
}
}
@media screen and (max-width: 768px) {
.posterImage {
  max-width: 100%;
  height: auto;
}

.posterImage__overlay {
  height: 40%;
  padding: 3rem;
}

.posterImage__title {
  font-size: 1rem;
}

.posterImage__runtime {
  font-size: 1rem;
}

.posterImage__description {
  font-size: 0.4rem;
  width: 75%;
}
}

@media screen and (min-width: 1024px) {
.posterImage {
  max-width: 100%;
  height: auto;
}

.posterImage__overlay {
  height: 30%;
  padding: 5rem;
}

.posterImage__title {
  font-size: 4rem;
}

.posterImage__runtime {
  font-size: 4rem;
}

.posterImage__description {
  font-size: 1rem;
  width: 50%;
}
}
